body{

  text-align: center;
  margin: 0;
}

.top-container {
  background-color:rgb(230,180, 0);
  padding:20px;  
  display:inline-block;

}

.img1{
   width: 50%;

}

.img2{
  width: 50%;
  margin-top: 50px;
}
